*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E1FFEE;
}


.flex{
  display: flex;
}

/* h1 styling */
.title{
  text-align: center;
  color: #7FBCD2;
  margin-top: 2rem;
}

.ip{
  color: #0F3460;
  text-align: center;
  margin-top: 2rem;
}

/* Dog image container */

.dog-image{
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  height: 500px;
}
.dog-image img{
  width:50%;
}

/* User Inputs container */

.user-input{
  width: 20vw;
  margin-top: 3rem;
  margin-left: 25vw;
  align-items: baseline;
  }

.user-input label{
  color: #0F3460;
  font-size: 1.5vw;
  margin-right: 2vw;
  }

.user-input input{
  margin-right: 10vw;

}
.input{
  border-radius: 30px;
  padding: 8px 10px;
  border-color: #0F3460;
  color: #0F3460;
}
.results .input{
  text-align:center;

}
.btn{
  cursor: pointer;
  background-color: #0F3460;
  border-radius: 30px;
  font-size: 1vw;
  padding: 8px 20px;
  color: #F1F1F1;
  border: none;
}

/* Prediction Results container */

.results{
  justify-content: space-evenly;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.label{
  color: #0F3460;
  font-size: 1.5vw;
  margin-right: 2vw;
}
.activity-container{
  justify-content: space-evenly;
  width: 50vw;
  margin-top: 4rem;
  margin-left: 22vw;
  margin-bottom: 3rem;
}
.size{
  width: 30vw;
}


/* media queries */

@media only screen and (max-width: 1300px) {
.results{
  flex-wrap: wrap;
  justify-content: space-around;
}

.resize{
  width:50%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

}

@media only screen and (max-width: 600px){
  .resize{
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    justify-content: space-between;
  }
}
